.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.nupkg
*.snupkg
packages/
.nuget/
appsettings.Development.json
appsettings.Local.json
*.log
*.tmp
TestResults/
*.coverage
*.coveragexml
publish/
